/* Home */
.header {background-color:#5B21B6;
    color:#fff;
    padding:  5px;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    }


.link-head {
    text-align: right;
    padding-bottom: 1rem;

}

.link{padding: 1rem;
    color: #fff;
    text-decoration: none;}



.image{
    text-align: center;
    padding-top: 4rem;



}
.adarsh-para{
    text-align: center;
    padding: 2rem;
}



.technologies{text-align: center;
    background-color: #F3F4F6;
    border-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius:2rem;
    font-size: 18px;
    padding:2rem}



.projects{text-align: center;
    padding:2rem}
.project-link{font-size: 20px;
    text-decoration: none;
    background-color:#818CF8;
    color: #fff;
    border-radius: 2rem;
    padding: 4px 1rem;
} 



.blogs{text-align: center;
    background-color: #F3F4F6;
    border-bottom: 2rem;
    border-radius:2rem;
    margin-left: 25;
    margin-right: 25;
    padding:2rem;
    font-size: 18px;



        }



.footer{text-align: center;
    background-color: #5B21B6;
    padding: 2rem;
    color: #fff;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin-top :5rem;
    
}

.footer-link{padding: 2rem;
    color: #fff;
    text-decoration: none;
   

}




/* Projects */


.see{font-size:3rem ;
    padding-top:4rem ;
    text-align: center;
}


.bichat{text-align: center;
font-size: 20px;}

.view_source{font-size: 20px;
    text-decoration: none;
    background-color:#818CF8;
    color: #fff;
    border-radius: 2rem;
    padding: 4px 1rem;
    margin-right: 2rem;
    
} 

.live_project{
    font-size: 20px;
    text-decoration: none;
    border: 2px solid #818CF8 ;
    /* border-color: #818CF8; */
    border-radius: 2rem;
    padding: 4px 1rem;
    margin-right: 2rem;}




.rang{text-align: center;
    background-color: #F3F4F6;
    border-bottom: 2rem;
    margin-left: 25rem;
    margin-right: 25rem;
    border-radius:2rem;
    padding:2rem}

.khali{text-align: center;
    border-bottom: 2rem;
    margin-left: 25rem;
    margin-right: 25rem;
    border-radius:2rem;
    padding:2rem}



/* Blocks */


.mandi{text-align: center;}

.dummy_one{padding: 2rem;
    font-size: 18px;
    text-align: center;
    margin: 2rem;
    margin-left: 25rem;
    margin-right: 25rem;}



.dummy_two{padding: 5rem;
    font-size: 18px;
    margin-left: 25rem;
    margin-right: 25rem;}


.blog2_link{font-size: 20px;
    text-decoration: none;
    background-color:#818CF8;
    color: #fff;
    padding: 4px 1rem;
    border-radius: 2rem;
    }

.read_blog{font-size:3rem ;
padding-top:4rem ;}